body{
    margin: 0px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRg_0jG33ShEMVfbTNe3r7yWUDxyrw__BGxg&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
}

.navi{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.image{
    border-radius: 6px 6px 6px 6px;
}
.fb{
   text-decoration: none;
   color: blue;
}
.Google{
    text-decoration:none;
    color: indigo;
}
.Insta{
    text-decoration:none;
    color: red;
}
.foot{
    display: flex;
    justify-content: center;
    font-size: larger;
}
.heading_blue{
    color: blue;
    font-size: larger;
}
.heading_indigo{
    color: indigo;
}
.btns{
    background-color: green;
    border-color: green;
    border-radius: 6px 6px 6px 6px;
    color: white;
}
.btnc{
    background-color: red;
    border-color: red;
    border-radius: 6px 6px 6px 6px;
    color: white;
}

/* .ex5 {
    color: indigo;
}

li>a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

a:hover {
    color: indigo;
}
p{
    font-size: 1.5em;
    color: indigo;
}
.ex4>h1,h2{
    padding: 0.5em;
    margin: 0.5em;
    border: 1px dashed green;
} */